In [16]:
import numpy as np
import pandas as pd
import json

In [2]:
df = pd.DataFrame([{'A':1, 'B':2, 'C':3}, {'A':0, 'B':1, 'C':0}])

In [7]:
df

   A  B  C
0  1  2  3
1  0  1  0

In [10]:
df.T

   0  1
A  1  0
B  2  1
C  3  0

In [18]:
list(json.loads(df.T.to_json()).values())

[{'A': 1, 'B': 2, 'C': 3}, {'A': 0, 'B': 1, 'C': 0}]